.deck {
    background: linear-gradient(30deg, #eaeaea, #f5f5f5);;
    margin: 2rem;
    border-radius: 10px;
    color: black;
    display: grid;
    padding-right: 20px;
    padding-left: 20px;
    max-height: 100px;
    grid-template-columns: repeat(12, 1fr);
    gap: 5px;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
}

.title {
    font-weight: semibold;
    grid-column: 1/7;
    grid-row: 2;
}

.desc {
    grid-column: 1/9;
    grid-row: 2/3;
}

.stars {
    grid-column: 10/12;
    grid-row: 2;
}